/**
 *
 *
 *         ____                      _           __   _                      _      ____                         _                     _
 *        |  _ \   _ __    ___    __| |   ___   / _| (_)  _ __     ___    __| |    / ___|   ___    _ __    ___  | |_    __ _   _ __   | |_   ___
 *        | |_) | | '__|  / _ \  / _` |  / _ \ | |_  | | | '_ \   / _ \  / _` |   | |      / _ \  | '_ \  / __| | __|  / _` | | '_ \  | __| / __|
 *        |  __/  | |    |  __/ | (_| | |  __/ |  _| | | | | | | |  __/ | (_| |   | |___  | (_) | | | | | \__ \ | |_  | (_| | | | | | | |_  \__ \
 *        |_|     |_|     \___|  \__,_|  \___| |_|   |_| |_| |_|  \___|  \__,_|    \____|  \___/  |_| |_| |___/  \__|  \__,_| |_| |_|  \__| |___/
 *
 *
 *
 *    Change these values to personalize your theme. The constants are loaded in 'predefined-variables.scss' to create internal values for the application.
 *    Thus do NOT CHANGE values in 'predefined-variables.scss'. These constants are also loaded in 'material-theme.scss'. You also should NOT CHANGE values
 *    there.
 *
 *
 */


@import '~@angular/material/theming';

// Color constants
$PRIMARY_COLOR: $mat-pink;
$ACCENT_COLOR: $mat-cyan;
$RESERVED_COLOR: $mat-amber;
$WARN_COLOR: $mat-red;
$TEXT_COLOR: $mat-blue-grey;
$VERY_LIGHT_COLOR: white;
$VERY_DARK_COLOR: black;

// Font constants
$TITLE_FONT: 'Major Mono Display', monospace;
$SUBTITLE_FONT: 'Bree Serif', serif;
$TEXT_FONT: Roboto, "Helvetica Neue", sans-serif;
$LOGO_FONT: 'Hanalei Fill', cursive;
$GRAPHIC_FONT: 'Bungee Inline', cursive;

// Text sizes constants
$TEXT_SIZE: 16px;
$H1_SIZE: 4rem;
$H2_SIZE: $H1_SIZE * 0.55;
$H3_SIZE: 3rem;
$H4_SIZE: $H3_SIZE * 0.65;
$H5_SIZE: 2rem;
$H6_SIZE: $H5_SIZE * 0.75;
$LOGO_SIZE_DESKTOP: 2.2rem;
$LOGO_SIZE_TABLET: 2rem;
$LOGO_SIZE_MOBILE: 1.8rem;
$CAROUSEL_LOGO_SIZE_DESKTOP: 14rem;
$CAROUSEL_LOGO_SIZE_TABLET: 10rem;
$CAROUSEL_LOGO_SIZE_MOBILE: 6rem;
$FOOTER_TEXT_SIZE: 0.75rem;

// General layout constants
$DISTANCE_FROM_THE_MARGINS: 16px;

