// DO NOT CHANGE THESE VALUES!!!
@import './predefined-constants.scss';
@include mat-core();

// Color values
$primary-color: map-get($PRIMARY_COLOR, 500);
$primary-color-light: map-get($PRIMARY_COLOR, 200);
$primary-color-dark: map-get($PRIMARY_COLOR, 900);

$accent-color: map-get($ACCENT_COLOR, 500);
$accent-color-light: map-get($ACCENT_COLOR, 200);
$accent-color-dark: map-get($ACCENT_COLOR, 900);

$reserved-color: map-get($RESERVED_COLOR, 500);
$reserved-color-light: map-get($RESERVED_COLOR, 200);
$reserved-color-dark: map-get($RESERVED_COLOR, 900);

$warn-color: map-get($WARN_COLOR, 500);
$warn-color-light: map-get($WARN_COLOR, 200);
$warn-color-dark: map-get($WARN_COLOR, 900);

$text-color-light: map-get($TEXT_COLOR, 50);
$text-color-dark: map-get($TEXT_COLOR, 900);

$very-light-color: $VERY_LIGHT_COLOR;
$very-dark-color: $VERY_DARK_COLOR;

// Font values
$title-font: $TITLE_FONT;
$subtitle-font: $SUBTITLE_FONT;
$text-font: $TEXT_FONT;
$logo-font: $LOGO_FONT;
$graphic-font: $GRAPHIC_FONT;

// Test sizes values
$text-size: $TEXT_SIZE;
$h1-size: $H1_SIZE;
$h2-size: $H2_SIZE;
$h3-size: $H3_SIZE;
$h4-size: $H4_SIZE;
$h5-size: $H5_SIZE;
$h6-size: $H6_SIZE;
$headers-sizes: ($h1_size, $h2_size, $h3_size, $h4_size, $h5_size, $h6_size);
$logo-size-desktop: $LOGO_SIZE_DESKTOP;
$logo-size-tablet: $LOGO_SIZE_TABLET;
$logo-size-mobile: $LOGO_SIZE_MOBILE;
$carousel-logo-size-desktop: $CAROUSEL_LOGO_SIZE_DESKTOP;
$carousel-logo-size-tablet: $CAROUSEL_LOGO_SIZE_TABLET;
$carousel-logo-size-mobile: $CAROUSEL_LOGO_SIZE_MOBILE;
$footer-text-size: $FOOTER_TEXT_SIZE;

// General layout values
$distance-from-the-margins: $DISTANCE_FROM_THE_MARGINS;

// Collections of elements
$html_headers: ('h1', 'h2', 'h3', 'h4','h5', 'h6');
