<p>
  root works!
</p>
<fg-home></fg-home>
<hr>
<fg-login></fg-login>
<fg-sign-up></fg-sign-up>
<fg-edit-user></fg-edit-user>
<fg-delete-user-dialog></fg-delete-user-dialog>
<hr>
<fg-footer></fg-footer>
<fg-header></fg-header>
<fg-navigation-menu></fg-navigation-menu>
<fg-sidebar-navigation></fg-sidebar-navigation>
<hr>
<fg-delete-contact-dialog></fg-delete-contact-dialog>
<fg-edit-contact></fg-edit-contact>
<fg-edit-contacts></fg-edit-contacts>
<fg-view-contact></fg-view-contact>
<fg-view-contacts></fg-view-contacts>