<!-- /***
 *    ██████╗ ██╗  ██╗ ██████╗ ███╗   ██╗███████╗██████╗  ██████╗  ██████╗ ██╗  ██╗
 *    ██╔══██╗██║  ██║██╔═══██╗████╗  ██║██╔════╝██╔══██╗██╔═══██╗██╔═══██╗██║ ██╔╝
 *    ██████╔╝███████║██║   ██║██╔██╗ ██║█████╗  ██████╔╝██║   ██║██║   ██║█████╔╝
 *    ██╔═══╝ ██╔══██║██║   ██║██║╚██╗██║██╔══╝  ██╔══██╗██║   ██║██║   ██║██╔═██╗
 *    ██║     ██║  ██║╚██████╔╝██║ ╚████║███████╗██████╔╝╚██████╔╝╚██████╔╝██║  ██╗
 *    ╚═╝     ╚═╝  ╚═╝ ╚═════╝ ╚═╝  ╚═══╝╚══════╝╚═════╝  ╚═════╝  ╚═════╝ ╚═╝  ╚═╝
 *
 *     ██████╗ ██████╗ ███╗   ███╗██████╗  ██████╗ ███╗   ██╗███████╗███╗   ██╗████████╗
 *    ██╔════╝██╔═══██╗████╗ ████║██╔══██╗██╔═══██╗████╗  ██║██╔════╝████╗  ██║╚══██╔══╝
 *    ██║     ██║   ██║██╔████╔██║██████╔╝██║   ██║██╔██╗ ██║█████╗  ██╔██╗ ██║   ██║
 *    ██║     ██║   ██║██║╚██╔╝██║██╔═══╝ ██║   ██║██║╚██╗██║██╔══╝  ██║╚██╗██║   ██║
 *    ╚██████╗╚██████╔╝██║ ╚═╝ ██║██║     ╚██████╔╝██║ ╚████║███████╗██║ ╚████║   ██║
 *     ╚═════╝ ╚═════╝ ╚═╝     ╚═╝╚═╝      ╚═════╝ ╚═╝  ╚═══╝╚══════╝╚═╝  ╚═══╝   ╚═╝
 *
 *    ██╗  ██╗████████╗███╗   ███╗██╗
 *    ██║  ██║╚══██╔══╝████╗ ████║██║
 *    ███████║   ██║   ██╔████╔██║██║
 *    ██╔══██║   ██║   ██║╚██╔╝██║██║
 *    ██║  ██║   ██║   ██║ ╚═╝ ██║███████╗
 *    ╚═╝  ╚═╝   ╚═╝   ╚═╝     ╚═╝╚══════╝
 *
 */ -->

 <mat-tab-group>
   <mat-tab label="Contacts">
     <mat-card fxFill class="container">
       <fg-view-contacts></fg-view-contacts>
     </mat-card>
  </mat-tab>
  <mat-tab label="Contacts">
      <mat-card fxFill class="container">
        <fg-view-contacts></fg-view-contacts>
      </mat-card>
   </mat-tab>
   <mat-tab label="Contacts">
      <mat-card fxFill class="container">
        <fg-view-contacts></fg-view-contacts>
      </mat-card>
   </mat-tab>
   <mat-tab label="Contacts">
      <mat-card fxFill class="container">
        <fg-view-contacts></fg-view-contacts>
      </mat-card>
   </mat-tab>
</mat-tab-group>
