<!-- /***
 *    ██████╗ ██╗  ██╗ ██████╗ ███╗   ██╗███████╗██████╗  ██████╗  ██████╗ ██╗  ██╗
 *    ██╔══██╗██║  ██║██╔═══██╗████╗  ██║██╔════╝██╔══██╗██╔═══██╗██╔═══██╗██║ ██╔╝
 *    ██████╔╝███████║██║   ██║██╔██╗ ██║█████╗  ██████╔╝██║   ██║██║   ██║█████╔╝
 *    ██╔═══╝ ██╔══██║██║   ██║██║╚██╗██║██╔══╝  ██╔══██╗██║   ██║██║   ██║██╔═██╗
 *    ██║     ██║  ██║╚██████╔╝██║ ╚████║███████╗██████╔╝╚██████╔╝╚██████╔╝██║  ██╗
 *    ╚═╝     ╚═╝  ╚═╝ ╚═════╝ ╚═╝  ╚═══╝╚══════╝╚═════╝  ╚═════╝  ╚═════╝ ╚═╝  ╚═╝
 *
 *     ██████╗ ██████╗ ███╗   ███╗██████╗  ██████╗ ███╗   ██╗███████╗███╗   ██╗████████╗
 *    ██╔════╝██╔═══██╗████╗ ████║██╔══██╗██╔═══██╗████╗  ██║██╔════╝████╗  ██║╚══██╔══╝
 *    ██║     ██║   ██║██╔████╔██║██████╔╝██║   ██║██╔██╗ ██║█████╗  ██╔██╗ ██║   ██║
 *    ██║     ██║   ██║██║╚██╔╝██║██╔═══╝ ██║   ██║██║╚██╗██║██╔══╝  ██║╚██╗██║   ██║
 *    ╚██████╗╚██████╔╝██║ ╚═╝ ██║██║     ╚██████╔╝██║ ╚████║███████╗██║ ╚████║   ██║
 *     ╚═════╝ ╚═════╝ ╚═╝     ╚═╝╚═╝      ╚═════╝ ╚═╝  ╚═══╝╚══════╝╚═╝  ╚═══╝   ╚═╝
 *
 *    ██╗  ██╗████████╗███╗   ███╗██╗
 *    ██║  ██║╚══██╔══╝████╗ ████║██║
 *    ███████║   ██║   ██╔████╔██║██║
 *    ██╔══██║   ██║   ██║╚██╔╝██║██║
 *    ██║  ██║   ██║   ██║ ╚═╝ ██║███████╗
 *    ╚═╝  ╚═╝   ╚═╝   ╚═╝     ╚═╝╚══════╝
 *
 */ -->

 <mat-tab-group
    fxFill
    color="primary"
    backgroundColor="accent">
   <mat-tab>
      <ng-template mat-tab-label>
          <mat-icon class="example-tab-icon">people_outline</mat-icon>
          &nbsp;Contacts
     </ng-template>
     <ng-template matTabContent>
       <mat-card fxFill class="container">
         <fg-view-contacts></fg-view-contacts>
       </mat-card>
     </ng-template>
  </mat-tab>
  <mat-tab *ngFor="let tab of contactsTabs">
    <ng-template mat-tab-label>
      {{ tab.caption }}
    </ng-template>
    <ng-template matTabContent>
      <mat-card fxFill class="container">
        <pre>
          {{ tab.data | json }}
        </pre>
      </mat-card>
    </ng-template>
  </mat-tab>
</mat-tab-group>
