/***
 *    ██╗   ██╗██╗███████╗██╗    ██╗       ██████╗ ██████╗ ███╗   ██╗████████╗ █████╗  ██████╗████████╗
 *    ██║   ██║██║██╔════╝██║    ██║      ██╔════╝██╔═══██╗████╗  ██║╚══██╔══╝██╔══██╗██╔════╝╚══██╔══╝
 *    ██║   ██║██║█████╗  ██║ █╗ ██║█████╗██║     ██║   ██║██╔██╗ ██║   ██║   ███████║██║        ██║
 *    ╚██╗ ██╔╝██║██╔══╝  ██║███╗██║╚════╝██║     ██║   ██║██║╚██╗██║   ██║   ██╔══██║██║        ██║
 *     ╚████╔╝ ██║███████╗╚███╔███╔╝      ╚██████╗╚██████╔╝██║ ╚████║   ██║   ██║  ██║╚██████╗   ██║
 *      ╚═══╝  ╚═╝╚══════╝ ╚══╝╚══╝        ╚═════╝ ╚═════╝ ╚═╝  ╚═══╝   ╚═╝   ╚═╝  ╚═╝ ╚═════╝   ╚═╝
 *
 *     ██████╗ ██████╗ ███╗   ███╗██████╗  ██████╗ ███╗   ██╗███████╗███╗   ██╗████████╗
 *    ██╔════╝██╔═══██╗████╗ ████║██╔══██╗██╔═══██╗████╗  ██║██╔════╝████╗  ██║╚══██╔══╝
 *    ██║     ██║   ██║██╔████╔██║██████╔╝██║   ██║██╔██╗ ██║█████╗  ██╔██╗ ██║   ██║
 *    ██║     ██║   ██║██║╚██╔╝██║██╔═══╝ ██║   ██║██║╚██╗██║██╔══╝  ██║╚██╗██║   ██║
 *    ╚██████╗╚██████╔╝██║ ╚═╝ ██║██║     ╚██████╔╝██║ ╚████║███████╗██║ ╚████║   ██║
 *     ╚═════╝ ╚═════╝ ╚═╝     ╚═╝╚═╝      ╚═════╝ ╚═╝  ╚═══╝╚══════╝╚═╝  ╚═══╝   ╚═╝
 *
 *    ███████╗ ██████╗███████╗███████╗
 *    ██╔════╝██╔════╝██╔════╝██╔════╝
 *    ███████╗██║     ███████╗███████╗
 *    ╚════██║██║     ╚════██║╚════██║
 *    ███████║╚██████╗███████║███████║
 *    ╚══════╝ ╚═════╝╚══════╝╚══════╝
 *
 */
@import '../../../../static-resources/styles/predefined/predefined-variables.scss';

mat-card {
  padding:
    (3 * $distance-from-the-margins)
    (3 * $distance-from-the-margins)
    (6 * $distance-from-the-margins)
    (3 * $distance-from-the-margins);
  margin: 2 * $distance-from-the-margins;
}

.mat-card-desktop {
  width: 45rem;
}

.mat-card-tablet {
  width: 30rem;
}

.mat-card-mobile {
  width: 15rem;
}

h6 {
  margin-top: 1.5rem !important;
  color: $accent-color-dark;
}

h2, div>mat-icon {
  color: $primary-color-dark;
}

mat-card-title {
  &  mat-divider {
    border-color: $text-color-light;
    border-style: double;
  }
}
