<!-- /***
 *    ███████╗██╗ ██████╗ ███╗   ██╗      ██╗   ██╗██████╗
 *    ██╔════╝██║██╔════╝ ████╗  ██║      ██║   ██║██╔══██╗
 *    ███████╗██║██║  ███╗██╔██╗ ██║█████╗██║   ██║██████╔╝
 *    ╚════██║██║██║   ██║██║╚██╗██║╚════╝██║   ██║██╔═══╝
 *    ███████║██║╚██████╔╝██║ ╚████║      ╚██████╔╝██║
 *    ╚══════╝╚═╝ ╚═════╝ ╚═╝  ╚═══╝       ╚═════╝ ╚═╝
 *
 *     ██████╗ ██████╗ ███╗   ███╗██████╗  ██████╗ ███╗   ██╗███████╗███╗   ██╗████████╗
 *    ██╔════╝██╔═══██╗████╗ ████║██╔══██╗██╔═══██╗████╗  ██║██╔════╝████╗  ██║╚══██╔══╝
 *    ██║     ██║   ██║██╔████╔██║██████╔╝██║   ██║██╔██╗ ██║█████╗  ██╔██╗ ██║   ██║
 *    ██║     ██║   ██║██║╚██╔╝██║██╔═══╝ ██║   ██║██║╚██╗██║██╔══╝  ██║╚██╗██║   ██║
 *    ╚██████╗╚██████╔╝██║ ╚═╝ ██║██║     ╚██████╔╝██║ ╚████║███████╗██║ ╚████║   ██║
 *     ╚═════╝ ╚═════╝ ╚═╝     ╚═╝╚═╝      ╚═════╝ ╚═╝  ╚═══╝╚══════╝╚═╝  ╚═══╝   ╚═╝
 *
 *    ██╗  ██╗████████╗███╗   ███╗██╗
 *    ██║  ██║╚══██╔══╝████╗ ████║██║
 *    ███████║   ██║   ██╔████╔██║██║
 *    ██╔══██║   ██║   ██║╚██╔╝██║██║
 *    ██║  ██║   ██║   ██║ ╚═╝ ██║███████╗
 *    ╚═╝  ╚═╝   ╚═╝   ╚═╝     ╚═╝╚══════╝
 *
 */ -->
<mat-card fxFill class="container">

<!-- /***
*    ┌─┐┌─┐┬─┐┌┬┐
*    ├┤ │ │├┬┘│││
*    └  └─┘┴└─┴ ┴
*    ┌┬┐┌─┐┌┬┐┌─┐┬  ┌─┐┌┬┐┌─┐┌─┐
*     │ ├┤ │││├─┘│  ├─┤ │ ├┤ └─┐
*     ┴ └─┘┴ ┴┴  ┴─┘┴ ┴ ┴ └─┘└─┘
*/ -->

<!-- USER'S NAME -->
  <ng-template #userName>
    <form
        fxLayout="column"
        fxLayoutAlign="center center"
        fxLayoutGap="1.2rem">
      <mat-form-field [ngClass]="{
        'form-input-desktop': deviceType === 'desktop',
        'form-input-tablet': deviceType === 'tablet',
        'form-input-mobile': deviceType === 'mobile'
      }">
        <input
            matInput
            type="text"
            required
            placeholder="Please enter your first name">
      </mat-form-field>
      <mat-form-field [ngClass]="{
        'form-input-desktop': deviceType === 'desktop',
        'form-input-tablet': deviceType === 'tablet',
        'form-input-mobile': deviceType === 'mobile'
      }">
        <input
            matInput
            type="text"
            required
            placeholder="Please enter your last name">
      </mat-form-field>
    </form>
  </ng-template>

<!-- USER'S PERSONAL DATA -->
    <ng-template #personalData>
      <form

          fxLayout="column"
          fxLayoutAlign="center center"
          fxLayoutGap="1.2rem">
        <mat-form-field [ngClass]="{
          'form-input-desktop': deviceType === 'desktop',
          'form-input-tablet': deviceType === 'tablet',
          'form-input-mobile': deviceType === 'mobile'
        }">
          <input
              matInput
              [matDatepicker]="picker"
              placeholder="Choose your birthday"
              required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-slide-toggle
          [checked]="gender === 'male'"
          (change)="changeGender($event.checked)">
          gender {{ gender }}
      </mat-slide-toggle>
    </form>
  </ng-template>

<!-- USER'S ACCOUNT DATA-->
  <ng-template #accountData>
    <form
        fxLayout="column"
        fxLayoutAlign="center center"
        fxLayoutGap="1.2rem">
      <mat-form-field [ngClass]="{
        'form-input-desktop': deviceType === 'desktop',
        'form-input-tablet': deviceType === 'tablet',
        'form-input-mobile': deviceType === 'mobile'
      }">
        <input
            matInput
            type="text"
            placeholder="Your username"
            required>
      </mat-form-field>
      <mat-form-field [ngClass]="{
        'form-input-desktop': deviceType === 'desktop',
        'form-input-tablet': deviceType === 'tablet',
        'form-input-mobile': deviceType === 'mobile'
      }">
        <input
            matInput
            type="email"
            placeholder="Your email"
            required>
      </mat-form-field>
    </form>
  </ng-template>

<!-- USER'S PASSWORD -->
  <ng-template #accountPassword>
    <form
        fxLayout="column"
        fxLayoutAlign="center center"
        fxLayoutGap="1.2rem">
      <mat-form-field [ngClass]="{
        'form-input-desktop': deviceType === 'desktop',
        'form-input-tablet': deviceType === 'tablet',
        'form-input-mobile': deviceType === 'mobile'
      }">
        <input
            matInput
            type="password"
            placeholder="Enter your password"
            required>
      </mat-form-field>
      <mat-form-field [ngClass]="{
        'form-input-desktop': deviceType === 'desktop',
        'form-input-tablet': deviceType === 'tablet',
        'form-input-mobile': deviceType === 'mobile'
      }">
        <input
            matInput
            type="password"
            placeholder="Repeat your password"
            required>
      </mat-form-field>
    </form>
  </ng-template>

<!-- FORM COMPLETED -->
  <ng-template #formDone>
    <div
        class="form"
        fxLayout="column"
        fxLayoutAlign="center center"
        fxLayoutGap="1.2rem">
      <h5>form completed</h5>
      <span>Press submit to create your account...</span>
    </div>
  </ng-template>


<!-- /***
*    ┌┬┐┌─┐┌─┐┌┬┐┌─┐┌─┐
*     ││├┤ └─┐ │ │ │├─┘
*    ─┴┘└─┘└─┘ ┴ └─┘┴
*    ┌┬┐┌─┐┌┬┐┌─┐┬  ┌─┐┌┬┐┌─┐
*     │ ├┤ │││├─┘│  ├─┤ │ ├┤
*     ┴ └─┘┴ ┴┴  ┴─┘┴ ┴ ┴ └─┘
*/ -->
  <mat-horizontal-stepper *ngIf="deviceType === 'desktop'"  #stepper>

<!-- 1st STEP - USER'S NAME -->
    <mat-step>
      <ng-template matStepLabel>Fill out your name</ng-template>
      <ng-container *ngTemplateOutlet="userName"></ng-container>
      <!-- buttons -->
      <div fxLayoutAlign="end center">
          <button
          color="accent"
          mat-raised-button
          matStepperNext>
          Next
        </button>
      </div>
    </mat-step>

<!-- 2nd STEP - USER'S PERSONAL DATA -->
    <mat-step >
      <ng-template matStepLabel>Personal data</ng-template>
      <ng-container *ngTemplateOutlet="personalData"></ng-container>
      <!-- buttons -->
      <div fxLayoutAlign="space-between center">
        <button
            color="accent"
            mat-raised-button
            matStepperPrevious>
          Back
        </button>&nbsp;
        <button
            color="accent"
            mat-raised-button
            matStepperNext>
          Next
        </button>
      </div>
    </mat-step>

<!-- 3rd STEP - USER'S ACCOUNT DATA-->
    <mat-step>
      <ng-template matStepLabel>Account data</ng-template>
      <ng-container *ngTemplateOutlet="accountData"></ng-container>
      <!-- buttons -->
      <div fxLayoutAlign="space-between center">
        <button
            color="accent"
            mat-raised-button
            matStepperPrevious>
          Back
        </button>&nbsp;
        <button
            color="accent"
            mat-raised-button
            matStepperNext>
          Next
        </button>
      </div>
    </mat-step>

<!-- 4th STEP - USER'S PASSWORD -->
    <mat-step>
      <ng-template matStepLabel>Set account password</ng-template>
      <ng-container *ngTemplateOutlet="accountPassword"></ng-container>
      <!-- buttons -->
      <div fxLayoutAlign="space-between center">
        <button
            color="accent"
            mat-raised-button
            matStepperPrevious>
          Back
        </button>&nbsp;
        <button
            color="accent"
            mat-raised-button
            matStepperNext>
          Next
        </button>
      </div>
    </mat-step>

<!-- LAST STEP - FORM COMPLETED -->
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <ng-container *ngTemplateOutlet="formDone"></ng-container>
      <!-- buttons -->
      <div fxLayoutAlign="space-between center">
          <button
              color="accent"
              mat-raised-button
              matStepperPrevious>
            Next
          </button>&nbsp;
          <button
              color="warn"
              mat-raised-button
              (click)="stepper.reset()"
              matStepperNext>
            Reset
          </button>&nbsp;
          <button
              type="submit"
              color="accent"
              mat-raised-button>
            Send
          </button>
        </div>
    </mat-step>

  </mat-horizontal-stepper>


  <!-- /***
  *    ┌┬┐┌─┐┌┐ ┬  ┌─┐┌┬┐
  *     │ ├─┤├┴┐│  ├┤  │
  *     ┴ ┴ ┴└─┘┴─┘└─┘ ┴
  *    ┌┬┐┌─┐┌┬┐┌─┐┬  ┌─┐┌┬┐┌─┐
  *     │ ├┤ │││├─┘│  ├─┤ │ ├┤
  *     ┴ └─┘┴ ┴┴  ┴─┘┴ ┴ ┴ └─┘
  */ -->
  <mat-vertical-stepper *ngIf="deviceType === 'tablet'"  #stepper>

<!-- 1st STEP - USER'S NAME -->
    <mat-step>
      <ng-template matStepLabel>Fill out your name</ng-template>
      <ng-container *ngTemplateOutlet="userName"></ng-container>
      <!-- buttons -->
      <div fxLayoutAlign="end center">
          <button
          color="accent"
          mat-raised-button
          matStepperNext>
          Next
        </button>
      </div>
    </mat-step>

<!-- 2nd STEP - USER'S PERSONAL DATA -->
    <mat-step>
      <ng-template matStepLabel>Personal data</ng-template>
      <ng-container *ngTemplateOutlet="personalData"></ng-container>
      <!-- buttons -->
      <div fxLayoutAlign="space-between center">
        <button
            color="accent"
            mat-raised-button
            matStepperPrevious>
          Back
        </button>&nbsp;
        <button
            color="accent"
            mat-raised-button
            matStepperNext>
          Next
        </button>
      </div>
    </mat-step>

<!-- 3rd STEP - USER'S ACCOUNT DATA-->
    <mat-step>
      <ng-template matStepLabel>Account data</ng-template>
      <ng-container *ngTemplateOutlet="accountData"></ng-container>
      <!-- buttons -->
      <div fxLayoutAlign="space-between center">
        <button
            color="accent"
            mat-raised-button
            matStepperPrevious>
          Back
        </button>&nbsp;
        <button
            color="accent"
            mat-raised-button
            matStepperNext>
          Next
        </button>
      </div>
    </mat-step>

<!-- 4th STEP - USER'S PASSWORD -->
    <mat-step>
      <ng-template matStepLabel>Set account password</ng-template>
      <ng-container *ngTemplateOutlet="accountPassword"></ng-container>
      <!-- buttons -->
      <div fxLayoutAlign="space-between center">
        <button
            color="accent"
            mat-raised-button
            matStepperPrevious>
          Back
        </button>&nbsp;
        <button
            color="accent"
            mat-raised-button
            matStepperNext>
          Next
        </button>
      </div>
    </mat-step>

<!-- LAST STEP - FORM COMPLETED -->
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <ng-container *ngTemplateOutlet="formDone"></ng-container>
      <!-- buttons -->
      <div fxLayoutAlign="space-between center">
          <button
              color="accent"
              mat-raised-button
              matStepperPrevious>
            Next
          </button>&nbsp;
          <button
              color="warn"
              mat-raised-button
              (click)="stepper.reset()"
              matStepperNext>
            Reset
          </button>&nbsp;
          <button
              type="submit"
              color="accent"
              mat-raised-button>
            Send
          </button>
        </div>
    </mat-step>

  </mat-vertical-stepper>


<!-- /***
 *    ┌┬┐┌─┐┌┐ ┬┬  ┌─┐
 *    ││││ │├┴┐││  ├┤
 *    ┴ ┴└─┘└─┘┴┴─┘└─┘
 *    ┌┬┐┌─┐┌┬┐┌─┐┬  ┌─┐┌┬┐┌─┐
 *     │ ├┤ │││├─┘│  ├─┤ │ ├┤
 *     ┴ └─┘┴ ┴┴  ┴─┘┴ ┴ ┴ └─┘
 */ -->
 <div *ngIf="deviceType === 'mobile'">
  <p style="text-align: center">
    Mobile stepper is under construction...
  </p>
 </div>

</mat-card>
