<mat-horizontal-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form     
        class="sign-up-form"
        fxLayout="column"
        fxLayoutAlign="center center"
        fxLayoutGap="1.2rem">
      <ng-template matStepLabel>Fill out your name</ng-template>
      <mat-form-field>
          <input 
            matInput
            type="text"
            required
            placeholder="Please enter your first name">
      </mat-form-field>
      <mat-form-field>
          <input 
            matInput
            type="text"
            required
            placeholder="Please enter your last name">
      </mat-form-field>
      <div>
        <button   
            color="accent"
            mat-raised-button 
            matStepperNext>
          Next
        </button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form
        class="sign-up-form"
        fxLayout="column"
        fxLayoutAlign="center center"
        fxLayoutGap="1.2rem">
      <ng-template matStepLabel>Personal data</ng-template>
      <mat-form-field>
        <input 
            matInput 
            [matDatepicker]="picker" 
            placeholder="Choose your birthday"
            required>
        <mat-datepicker-toggle 
            matSuffix [for]="picker">
        </mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-slide-toggle 
          [checked]="gender === 'male'"
          (change)="changeGender($event.checked)">
        gender {{ gender }}
      </mat-slide-toggle>
      <div>
        <button   
            color="accent"
            mat-raised-button 
            matStepperPrevious>
          Back
        </button>&nbsp;
        <button   
            color="accent"
            mat-raised-button 
            matStepperNext>
          Next
        </button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="thirdFormGroup">
    <form
        class="sign-up-form"
        fxLayout="column"
        fxLayoutAlign="center center"
        fxLayoutGap="1.2rem">
      <ng-template matStepLabel>Account data</ng-template>
      <mat-form-field>
        <input 
            matInput
            type="text"
            placeholder="Your username"
            required>
      </mat-form-field>
      <mat-form-field>
        <input 
            matInput
            type="email"
            placeholder="Your email"
            required>
      </mat-form-field>
      <div>
        <button   
            color="accent"
            mat-raised-button 
            matStepperPrevious>
          Back
        </button>&nbsp;
        <button   
            color="accent"
            mat-raised-button 
            matStepperNext>
          Next
        </button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="forthFormGroup">
    <form
        class="sign-up-form"
        fxLayout="column"
        fxLayoutAlign="center center"
        fxLayoutGap="1.2rem">
      <ng-template matStepLabel>Set account password</ng-template>
      <mat-form-field>
        <input 
            matInput
            type="password"
            placeholder="Enter your password"
            required>
      </mat-form-field>
      <mat-form-field>
        <input 
            matInput
            type="password"
            placeholder="Repeat your password"
            required>
      </mat-form-field>
      <div>
        <button   
            color="accent"
            mat-raised-button 
            matStepperPrevious>
          Back
        </button>&nbsp;
        <button   
            color="accent"
            mat-raised-button 
            matStepperNext>
          Next
        </button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <div
        fxLayout="column"
        fxLayoutAlign="center center"
        fxLayoutGap="1.2rem">
      <strong>You are now done. </strong>
      <span>Press submit to create your account...</span>
      <div>
          <button   
              color="accent"
              mat-raised-button 
              matStepperPrevious>
            Next
          </button>&nbsp;
          <button   
              color="accent"
              mat-raised-button 
              (click)="stepper.reset()"
              matStepperNext>
            Reset
          </button>&nbsp;
          <button
              type="submit"
              color="accent"
              mat-raised-button>
            Send
          </button>
        </div>    
    </div>
  </mat-step>
</mat-horizontal-stepper>