<mat-drawer-container
    [hasBackdrop]="true">

  <!-- sidebar -->
  <mat-drawer
      fxHide.gt-sm
      class="sidebar-navigation"
      #sideNavigation
      mode="over">
    <div class="caption">
      <div class="logo">PHONEBOOK</div>
      <div>
        <strong>Logged user: </strong>
        {{ userName }}
      </div>
    </div>
    <hr>
    <fg-navigation-menu></fg-navigation-menu>
    <hr>
  </mat-drawer>

  <!-- main application window -->
  <mat-drawer-content
      fxLayout="column">
    <header>
      <fg-header
        [userName]="userName"
        (toggleSideBar)="sideNavigation.toggle()"></fg-header>
    </header>
    <section fxFlex="auto">
        <ng-content></ng-content>
    </section>
    <footer fxFlex="110px">
        <fg-footer></fg-footer>
    </footer>
  </mat-drawer-content>

</mat-drawer-container>
