<mat-drawer-container fxFill [hasBackdrop]="true">

  <!-- Sidebar -->
  <mat-drawer
      fxHide.gt-sm
      class="sidebar-navigation"
      #sideNavigation
      mode="over">
    <div class="caption">
      <div class="logo">PHONEBOOK</div>
      <div>
        <strong>Logged user: </strong>
        {{ userName }}
      </div>
    </div>
    <hr>
    <fg-navigation-menu></fg-navigation-menu>
    <hr>
  </mat-drawer>

  <!-- Main application window -->
  <mat-drawer-content
      fxLayout="column"
      fxLayoutAlign="space-between stretch">
    <header
        fxFlex="64px"
        fxFlex.xs="56px">
      <fg-header
        [userName]="userName"
        (toggleSideBar)="sideNavigation.toggle()"></fg-header>
    </header>
    <section fxFlex style="background-color: darkred">
        <ng-content></ng-content>
    </section>
    <footer
        fxFlex="110px"
        fxFlex.xs="96px">
      <fg-footer></fg-footer>
    </footer>
  </mat-drawer-content>

</mat-drawer-container>
