<!-- Side navigation menu -->
<mat-nav-list
    *ngIf="isMobile"
    fxLayout.lt-md="column"
    fxLayoutAlign.lt-md="start start">
  <a
      *ngFor="let item of menuItems"
      mat-list-item
      class="menu-side-navigation"
      routerLink="{{ item.link }}">
    <span><mat-icon>{{ item.icon }}</mat-icon></span>&nbsp;&nbsp;
    {{ item.caption }}
  </a>
</mat-nav-list>

<!-- Header navigation -->
<ul
    *ngIf="!isMobile"
    fxLayout="row"
    fxLayoutAlign="end end"
    fxLayoutGap="20px">
  <li *ngFor="let item of menuItems" >
    <a
        *ngIf="item.show"
        class="menu-header"
        routerLink="{{ item.link }}">
      {{ item.caption }}
    </a>
  </li>
</ul>
