/***
 *     █████╗ ██████╗ ██████╗ ██╗     ██╗ ██████╗ █████╗ ████████╗██╗ ██████╗ ███╗   ██╗
 *    ██╔══██╗██╔══██╗██╔══██╗██║     ██║██╔════╝██╔══██╗╚══██╔══╝██║██╔═══██╗████╗  ██║
 *    ███████║██████╔╝██████╔╝██║     ██║██║     ███████║   ██║   ██║██║   ██║██╔██╗ ██║
 *    ██╔══██║██╔═══╝ ██╔═══╝ ██║     ██║██║     ██╔══██║   ██║   ██║██║   ██║██║╚██╗██║
 *    ██║  ██║██║     ██║     ███████╗██║╚██████╗██║  ██║   ██║   ██║╚██████╔╝██║ ╚████║
 *    ╚═╝  ╚═╝╚═╝     ╚═╝     ╚══════╝╚═╝ ╚═════╝╚═╝  ╚═╝   ╚═╝   ╚═╝ ╚═════╝ ╚═╝  ╚═══╝
 *
 *    ███████╗████████╗██╗   ██╗██╗     ███████╗███████╗
 *    ██╔════╝╚══██╔══╝╚██╗ ██╔╝██║     ██╔════╝██╔════╝
 *    ███████╗   ██║    ╚████╔╝ ██║     █████╗  ███████╗
 *    ╚════██║   ██║     ╚██╔╝  ██║     ██╔══╝  ╚════██║
 *    ███████║   ██║      ██║   ███████╗███████╗███████║
 *    ╚══════╝   ╚═╝      ╚═╝   ╚══════╝╚══════╝╚══════╝
 *
 *   This style sheet is loaded by the Angular application. It includes all general styles used in this application. It also  includes the CSS reset,
 *   fonts, angular material custom theme and predefined variables, mixins, functions and classes. As a general rule, all the styles that modify more
 *   than one angular or angular material component will be defined in this file. On the other hand, styles that apply only to a particular component
 *   will appear in that component definition.
 *
 *   ** This file should not be changed by any means. If you want to personalize the application change constants  in 'predefined-constants.scss'
 *      instead.
 *
 *
 */
@import './reset/reset.scss';
@import './fonts/fonts.scss';
@import './predefined/predefined.scss';
@import './themes/themes.scss';


/***
 *    ┌─┐┌─┐┌┐┌┌─┐┬─┐┌─┐┬
 *    │ ┬├┤ │││├┤ ├┬┘├─┤│
 *    └─┘└─┘┘└┘└─┘┴└─┴ ┴┴─┘
 *    ┌─┐┌┬┐┬ ┬┬  ┌─┐┌─┐
 *    └─┐ │ └┬┘│  ├┤ └─┐
 *    └─┘ ┴  ┴ ┴─┘└─┘└─┘
 */
html, body {
  height: 100%;
  font-size: $text-size;
  overflow: hidden; //will use the component scroll instead
}


/***
 *    ┬ ┬┌┬┐┌┬┐┬
 *    ├─┤ │ ││││
 *    ┴ ┴ ┴ ┴ ┴┴─┘
 *    ┬ ┬┌─┐┌─┐┌┬┐┌─┐┬─┐┌─┐
 *    ├─┤├┤ ├─┤ ││├┤ ├┬┘└─┐
 *    ┴ ┴└─┘┴ ┴─┴┘└─┘┴└─└─┘
 */
h1 {
  @include title(1);
}

h2 {
  @include subtitle(2);
}

h3 {
  @include title(3);
}

h4 {
  @include subtitle(4);
}

h5 {
  @include title(5);
}

h6 {
  @include subtitle(6);
}


/***
 *    ┌┬┐┌─┐┌─┐┬  ┌┐ ┌─┐┬─┐┌─┐
 *     │ │ ││ ││  ├┴┐├─┤├┬┘└─┐
 *     ┴ └─┘└─┘┴─┘└─┘┴ ┴┴└─└─┘
 *
 *  - for headers and for footers
 *
 */
mat-toolbar {
  * {
  color: $text-color-light;
}
  a {
    &:hover {
      color: $very-light-color;
      @include text-outline($accent-color-light);
    }
    text-decoration: none;
    cursor: hand
  }
}





// Temporary styles during development
body {
  background-color: red;
}

section {
  background-color: yellow;
}


