/**
 *
 *
 *          _                      _   _                  _     _                     ____    _             _
 *         / \     _ __    _ __   | | (_)   ___    __ _  | |_  (_)   ___    _ __     / ___|  | |_   _   _  | |   ___   ___
 *        / _ \   | '_ \  | '_ \  | | | |  / __|  / _` | | __| | |  / _ \  | '_ \    \___ \  | __| | | | | | |  / _ \ / __|
 *       / ___ \  | |_) | | |_) | | | | | | (__  | (_| | | |_  | | | (_) | | | | |    ___) | | |_  | |_| | | | |  __/ \__ \
 *      /_/   \_\ | .__/  | .__/  |_| |_|  \___|  \__,_|  \__| |_|  \___/  |_| |_|   |____/   \__|  \__, | |_|  \___| |___/
 *                |_|     |_|                                                                       |___/
 *
 *   This style sheet is loaded by the Angular application. It includes all general styles used in this application. It also
 *   includes the CSS reset, fonts, angular material custom theme and predefined variables, mixins, functions and classes.
 *   As a general rule, all the styles that modify more than one angular or angular material component will be defined in this
 *   file. On the other hand, styles that apply only to a particular component will appear in that component definition.
 *
 *    ** This file should not be change by any means. If you want to personalize the application change constants
 *       in ./predefined/predefined-constants.scss instead.  *
 *
 */

@import './reset/reset.scss';
@import './fonts/fonts.scss';
@import './predefined/predefined.scss';
@import './themes/themes.scss';

// General styles
html, body {
  height: 100%;
  font-size: $TEXT_SIZE;
}

body {
  background-color: red;
}

// HTML Headers 1-6
h1 {
  @include title(1);
}

h2 {
  @include subtitle(2);
}

h3 {
  @include title(3);
}

h4 {
  @include subtitle(4);
}

h5 {
  @include title(5);
}

h6 {
  @include subtitle(6);
}

// Main application window
section {
  background-color: yellow;
}

// Toolbars
mat-toolbar {
  * {
    color: $text-color-light;
  }
  a {
    &:hover {
      color: $very-light-color;
      @include text-outline($accent-color-light);
    }
    text-decoration: none;
    cursor: hand
  }
}
