<!-- <div class="carousel-logo-desktop">PHONEBOOK</div>
<div class="carousel-logo-tablet">PHONEBOOK</div>
<div class="carousel-logo-mobile">PHONEBOOK</div>
<div class="logo-desktop">PHONEBOOK</div>
<div class="logo-tablet">PHONEBOOK</div>
<div class="logo-mobile">PHONEBOOK</div>
<h1>Ana are mere</h1>
<h2>Ionel vine si cere</h2>
<h3>Ana are mere</h3>
<h4>Ionel vine si cere</h4>
<h5>Ana are mere</h5>
<h6>Ionel vine si cere</h6>
<fg-edit-contact></fg-edit-contact>
<fg-delete-contact-dialog></fg-delete-contact-dialog> -->
<mat-card class="component-container">
  Lorem ipsum dolor sit amet consectetur, adipisicing elit.
</mat-card>
