@import './_styles/_reset.scss';
@import '~@angular/material/theming';
@import './_styles/theme.scss';
@import './_styles/variables.scss';
@import './_styles/function.scss';
@include mat-core();


body {
  font-family: 'Roboto', sans-serif;
}


h1 {
  font-family: 'Major Mono Display', monospace;
  font-size: 25px;
  text-align: center;
  letter-spacing: 10px;
  color: $color-accent;
  @include text-outline($color-accent);
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 2px solid $color-warn;
  margin: 1em 0;
  padding: 0;
}

.logo {
  font-family: 'Bree Serif', serif;
  color: $color-text-light;
  @include text-outline(black);
  font-size: 35px;
}

// Carousel picture overlay color
.carousel-slide-overlay {
  background-color: rgba(darken($color-accent, 20), 0.5) !important;
}

