/**
 *
 *
 *
 *         __  __           _                   _           _     _____   _
 *        |  \/  |   __ _  | |_    ___   _ __  (_)   __ _  | |   |_   _| | |__     ___   _ __ ___     ___
 *        | |\/| |  / _` | | __|  / _ \ | '__| | |  / _` | | |     | |   | '_ \   / _ \ | '_ ` _ \   / _ \
 *        | |  | | | (_| | | |_  |  __/ | |    | | | (_| | | |     | |   | | | | |  __/ | | | | | | |  __/
 *        |_|  |_|  \__,_|  \__|  \___| |_|    |_|  \__,_| |_|     |_|   |_| |_|  \___| |_| |_| |_|  \___|
 *
 *
 *    This style sheet is used to create a custom Angular Material Theme.
 *
 *    ** This file should not be changed by any means. If you want to personalize the application, change constants in 'predefined-constants.scss'
 *       instead.
 *
 *
 */
@import '../predefined/predefined-constants.scss';
@include mat-core();

// Loading color themes
$color-palette-primary: mat-palette($PRIMARY_COLOR);
$color-palette-accent: mat-palette($ACCENT-COLOR);
$color-palette-warn: mat-palette($WARN-COLOR);

// Creating and loading material theme
$phonebook-theme: mat-light-theme(
  $color-palette-primary,
  $color-palette-accent,
  $color-palette-warn
);
@include angular-material-theme($phonebook-theme);
