<!-- /***
*    ██╗   ██╗██╗███████╗██╗    ██╗       ██████╗ ██████╗ ███╗   ██╗████████╗ █████╗  ██████╗████████╗███████╗
*    ██║   ██║██║██╔════╝██║    ██║      ██╔════╝██╔═══██╗████╗  ██║╚══██╔══╝██╔══██╗██╔════╝╚══██╔══╝██╔════╝
*    ██║   ██║██║█████╗  ██║ █╗ ██║█████╗██║     ██║   ██║██╔██╗ ██║   ██║   ███████║██║        ██║   ███████╗
*    ╚██╗ ██╔╝██║██╔══╝  ██║███╗██║╚════╝██║     ██║   ██║██║╚██╗██║   ██║   ██╔══██║██║        ██║   ╚════██║
*     ╚████╔╝ ██║███████╗╚███╔███╔╝      ╚██████╗╚██████╔╝██║ ╚████║   ██║   ██║  ██║╚██████╗   ██║   ███████║
*      ╚═══╝  ╚═╝╚══════╝ ╚══╝╚══╝        ╚═════╝ ╚═════╝ ╚═╝  ╚═══╝   ╚═╝   ╚═╝  ╚═╝ ╚═════╝   ╚═╝   ╚══════╝
*
*     ██████╗ ██████╗ ███╗   ███╗██████╗  ██████╗ ███╗   ██╗███████╗███╗   ██╗████████╗
*    ██╔════╝██╔═══██╗████╗ ████║██╔══██╗██╔═══██╗████╗  ██║██╔════╝████╗  ██║╚══██╔══╝
*    ██║     ██║   ██║██╔████╔██║██████╔╝██║   ██║██╔██╗ ██║█████╗  ██╔██╗ ██║   ██║
*    ██║     ██║   ██║██║╚██╔╝██║██╔═══╝ ██║   ██║██║╚██╗██║██╔══╝  ██║╚██╗██║   ██║
*    ╚██████╗╚██████╔╝██║ ╚═╝ ██║██║     ╚██████╔╝██║ ╚████║███████╗██║ ╚████║   ██║
*     ╚═════╝ ╚═════╝ ╚═╝     ╚═╝╚═╝      ╚═════╝ ╚═╝  ╚═══╝╚══════╝╚═╝  ╚═══╝   ╚═╝
*
*    ██╗  ██╗████████╗███╗   ███╗██╗
*    ██║  ██║╚══██╔══╝████╗ ████║██║
*    ███████║   ██║   ██╔████╔██║██║
*    ██╔══██║   ██║   ██║╚██╔╝██║██║
*    ██║  ██║   ██║   ██║ ╚═╝ ██║███████╗
*    ╚═╝  ╚═╝   ╚═╝   ╚═╝     ╚═╝╚══════╝
*
*/ -->
<div>

<!-- /***
*    ┌─┐┬┬ ┌┬┐┌─┐┬─┐
*    ├┤ ││  │ ├┤ ├┬┘
*    └  ┴┴─┘┴ └─┘┴└─
*    ┌┬┐┌─┐┌┐ ┬  ┌─┐
*     │ ├─┤├┴┐│  ├┤
*     ┴ ┴ ┴└─┘┴─┘└─┘
*/ -->
  <mat-form-field>
    <input
        matInput
        (keyup)="applyFilter($event.target.value)"
        placeholder="Filter">
  </mat-form-field>

  <!-- table -->
  <div class="mat-elevation-z1">
    <table
        mat-table
        multiTemplateDataRows
        matSort
        [dataSource]="contacts">


<!-- /***
*    ┌┬┐┌─┐┌┐ ┬  ┌─┐
*     │ ├─┤├┴┐│  ├┤
*     ┴ ┴ ┴└─┘┴─┘└─┘
*    ┌─┐┌─┐┬  ┬ ┬┌┬┐┌┐┌┌─┐
*    │  │ ││  │ │││││││└─┐
*    └─┘└─┘┴─┘└─┘┴ ┴┘└┘└─┘
*/ -->
      <ng-container
          *ngFor="let column of displayedColumns"
          matColumnDef="{{ column.label }}">

<!-- SELECT COLUMN -->
        <ng-container  *ngIf="['select'].indexOf(column.label) >= 0">
            <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox
                    (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()">
                </mat-checkbox>
              </th>
              <td mat-cell *matCellDef="let row">
                <mat-checkbox
                  (click)="$event.stopPropagation()"
                  (change)="$event ? selection.toggle(row) : null"
                  [checked]="selection.isSelected(row)">
                </mat-checkbox>
              </td>
        </ng-container>

<!-- INDEX COLUMN -->
        <ng-container *ngIf="['index'].indexOf(column.label) >= 0" >
          <th
              mat-header-cell
              mat-sort-header
              *matHeaderCellDef>
            {{ column.caption }}
          </th>
          <td
              mat-cell
              *matCellDef="let index = dataIndex">
          <!-- Because we have 'multiTemplateDataRows' in table, we have to use dataIndex instead
          of index, otherwise we will use index.
          https://stackoverflow.com/questions/49648270/how-to-define-index-in-angular-material-table
          -->
            {{ calculateIndex(index) }}
          </td>
        </ng-container>

<!-- REST OF COLUMNS -->
        <ng-container *ngIf="['select', 'index'].indexOf(column.label) === -1" >
          <th
              mat-header-cell
              mat-sort-header
              *matHeaderCellDef>
            {{ column.caption }}
          </th>
          <td
              mat-cell
              *matCellDef="let contact">
            {{ detailsAboutContact(contact, column.label) }}
          </td>
        </ng-container>
      </ng-container>

<!-- EXPANDED/DETAILS FOR PERSON -->
       <ng-container matColumnDef="expandedContact">
        <td
            mat-cell
            [ngClass]="{
              'contact-details-closed': !contactExpanded(contact),
              'contact-details-opened': contactExpanded(contact)
            }"
            *matCellDef="let contact"
            [attr.colspan]="displayedColumns.length">
          <div
              class="contact-details"
              [@detailExpand]="showExpanded(contact)">
            <fg-view-contact [contact]="contact"></fg-view-contact>
          </div>
        </td>
      </ng-container>


<!-- /***
*    ┌┬┐┌─┐┌┐ ┬  ┌─┐
*     │ ├─┤├┴┐│  ├┤
*     ┴ ┴ ┴└─┘┴─┘└─┘
*    ┬─┐┌─┐┬ ┬┌─┐
*    ├┬┘│ ││││└─┐
*    ┴└─└─┘└┴┘└─┘
*/ -->
      <tr
          mat-header-row
          *matHeaderRowDef="displayedColumnsLabels()">
      </tr>
      <tr
          class="table-rows"
          (click)="expandContact(contact)"
          mat-row
          *matRowDef="let contact; columns: displayedColumnsLabels();">
      </tr>
      <tr
        mat-row
        class="contact-details-closed"
        *matRowDef="let row; columns: ['expandedContact']">
      </tr>

    </table>


<!--/***
*    ┌─┐┌─┐┌─┐┬┌┐┌┌─┐┌┬┐┌─┐┬─┐
*    ├─┘├─┤│ ┬││││├─┤ │ │ │├┬┘
*    ┴  ┴ ┴└─┘┴┘└┘┴ ┴ ┴ └─┘┴└─
*/ -->
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

  </div>
</div>



