<!-- <div
    fxLayout="center center">
  <mat-form-field>
    <input
        matInput
        (keyup)="applyFilter($event.target.value)"
        placeholder="Filter">
  </mat-form-field>
  <div class="mat-elevation-z8">
    <table
        mat-table
        multiTemplateDataRows
        matSort
        [dataSource]="contacts"> -->

      <!-- Create columns to be listed -->
      <!-- <ng-container
          *ngFor="let column of displayedColumns"
          matColumnDef="{{ column.label }}">
        <th
            mat-header-cell
            mat-sort-header
            *matHeaderCellDef>
          {{ column.caption }}
        </th>
        <td
            mat-cell
            *matCellDef="let contact">
          {{ detailsAboutContact(contact, column.label) }}
        </td>
      </ng-container> -->

      <!-- Create expanded details for selected person -->
      <!-- <ng-container matColumnDef="expandedData">
        <td
            mat-cell
            *matCellDef="let contact"
            [attr.colspan]="displayedColumns.length">
          <div
              class="example-element-detail"
              [@detailExpand]="contact == expandedElement ? 'expanded' : 'collapsed'">
            <fg-view-contact
                fxFlexFill
                [contact]="contact">
            </fg-view-contact>
          </div>
        </td>
      </ng-container>

      <tr
          mat-header-row
          *matHeaderRowDef="displayedColumnsLabels()">
      </tr>
      <tr
          [class.example-expanded-row]="expandedElement === contact"
          (click)="expandedElement = expandedElement === contact ? null : contact"
          mat-row *matRowDef="let contact; columns: displayedColumnsLabels();">
      </tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedData']" class="example-detail-row"></tr>

    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

  </div>
</div> -->
