<!-- /***
*    ██╗   ██╗██╗███████╗██╗    ██╗       ██████╗ ██████╗ ███╗   ██╗████████╗ █████╗  ██████╗████████╗███████╗
*    ██║   ██║██║██╔════╝██║    ██║      ██╔════╝██╔═══██╗████╗  ██║╚══██╔══╝██╔══██╗██╔════╝╚══██╔══╝██╔════╝
*    ██║   ██║██║█████╗  ██║ █╗ ██║█████╗██║     ██║   ██║██╔██╗ ██║   ██║   ███████║██║        ██║   ███████╗
*    ╚██╗ ██╔╝██║██╔══╝  ██║███╗██║╚════╝██║     ██║   ██║██║╚██╗██║   ██║   ██╔══██║██║        ██║   ╚════██║
*     ╚████╔╝ ██║███████╗╚███╔███╔╝      ╚██████╗╚██████╔╝██║ ╚████║   ██║   ██║  ██║╚██████╗   ██║   ███████║
*      ╚═══╝  ╚═╝╚══════╝ ╚══╝╚══╝        ╚═════╝ ╚═════╝ ╚═╝  ╚═══╝   ╚═╝   ╚═╝  ╚═╝ ╚═════╝   ╚═╝   ╚══════╝
*
*     ██████╗ ██████╗ ███╗   ███╗██████╗  ██████╗ ███╗   ██╗███████╗███╗   ██╗████████╗
*    ██╔════╝██╔═══██╗████╗ ████║██╔══██╗██╔═══██╗████╗  ██║██╔════╝████╗  ██║╚══██╔══╝
*    ██║     ██║   ██║██╔████╔██║██████╔╝██║   ██║██╔██╗ ██║█████╗  ██╔██╗ ██║   ██║
*    ██║     ██║   ██║██║╚██╔╝██║██╔═══╝ ██║   ██║██║╚██╗██║██╔══╝  ██║╚██╗██║   ██║
*    ╚██████╗╚██████╔╝██║ ╚═╝ ██║██║     ╚██████╔╝██║ ╚████║███████╗██║ ╚████║   ██║
*     ╚═════╝ ╚═════╝ ╚═╝     ╚═╝╚═╝      ╚═════╝ ╚═╝  ╚═══╝╚══════╝╚═╝  ╚═══╝   ╚═╝
*
*    ██╗  ██╗████████╗███╗   ███╗██╗
*    ██║  ██║╚══██╔══╝████╗ ████║██║
*    ███████║   ██║   ██╔████╔██║██║
*    ██╔══██║   ██║   ██║╚██╔╝██║██║
*    ██║  ██║   ██║   ██║ ╚═╝ ██║███████╗
*    ╚═╝  ╚═╝   ╚═╝   ╚═╝     ╚═╝╚══════╝
*
*/ -->
<div>

<!-- /***
*    ┌─┐┬┬ ┌┬┐┌─┐┬─┐
*    ├┤ ││  │ ├┤ ├┬┘
*    └  ┴┴─┘┴ └─┘┴└─
*    ┌┬┐┌─┐┌┐ ┬  ┌─┐
*     │ ├─┤├┴┐│  ├┤
*     ┴ ┴ ┴└─┘┴─┘└─┘
*/ -->
  <mat-form-field>
    <input
        matInput
        (keyup)="applyFilter($event.target.value)"
        placeholder="Filter">
  </mat-form-field>

  <!-- table -->
  <div class="mat-elevation-z1">
    <table
        mat-table
        multiTemplateDataRows
        matSort
        [dataSource]="contacts">


<!-- /***
*    ┌┬┐┌─┐┌┐ ┬  ┌─┐
*     │ ├─┤├┴┐│  ├┤
*     ┴ ┴ ┴└─┘┴─┘└─┘
*    ┌─┐┌─┐┬  ┬ ┬┌┬┐┌┐┌┌─┐
*    │  │ ││  │ │││││││└─┐
*    └─┘└─┘┴─┘└─┘┴ ┴┘└┘└─┘
*/ -->

      <!-- SELECT COLUMN -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox
              (change)="$event ? masterToggle() : null"
              [checked]="currentPageHasValue() && currentPageIsAllSelected()"
              [indeterminate]="currentPageHasValue() && !currentPageIsAllSelected()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="$event ? selection.toggle(row) : null"
            [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </td>
      </ng-container>

      <!-- INDEX  -->
      <ng-container matColumnDef="index">
        <th
            mat-header-cell
            mat-sort-header
            *matHeaderCellDef>
          Index
        </th>
        <td
            mat-cell
            *matCellDef="let index = dataIndex">
            <!--
              Because we have 'multiTemplateDataRows' in table, we have to use dataIndex instead of index,
              otherwise we will use index.
              https://stackoverflow.com/questions/49648270/how-to-define-index-in-angular-material-table
            -->
          {{ calculateIndex(index) }}
        </td>
      </ng-container>

      <!-- FIRST NAME -->
      <ng-container matColumnDef="firstName">
        <th
            mat-header-cell
            mat-sort-header
            *matHeaderCellDef>
          First Name
        </th>
        <td
            mat-cell
            *matCellDef="let contact">
          {{ contact.firstName }}
        </td>
      </ng-container>

      <!-- LAST NAME -->
      <ng-container matColumnDef="lastName">
        <th
            mat-header-cell
            mat-sort-header
            *matHeaderCellDef>
          Last Name
        </th>
        <td
            mat-cell
            *matCellDef="let contact">
          {{ contact.lastName }}
        </td>
      </ng-container>

      <!-- ALIAS -->
      <ng-container matColumnDef="alias">
        <th
            mat-header-cell
            mat-sort-header
            *matHeaderCellDef>
          Alias
        </th>
        <td
            mat-cell
            *matCellDef="let contact">
          {{ contact.alias }}
        </td>
      </ng-container>

      <!-- GROUP -->
      <ng-container matColumnDef="group">
        <th
            mat-header-cell
            mat-sort-header
            *matHeaderCellDef>
          Group
        </th>
        <td
            mat-cell
            *matCellDef="let contact">
          {{ contact.group }}
        </td>
      </ng-container>

      <!-- MAIN PHONE -->
      <ng-container matColumnDef="mainPhone">
        <th
            mat-header-cell
            mat-sort-header
            *matHeaderCellDef>
          Main Phone
        </th>
        <td
            mat-cell
            *matCellDef="let contact">
          {{ contact.phones[0] }}
        </td>
      </ng-container>

      <!-- MAIN EMAIL -->
      <ng-container matColumnDef="mainEmail">
        <th
            mat-header-cell
            mat-sort-header
            *matHeaderCellDef>
          Main Email
        </th>
        <td
            mat-cell
            *matCellDef="let contact">
          {{ contact.emails[0] }}
        </td>
      </ng-container>

      <!-- EXPANDED/DETAILS FOR PERSON -->
      <ng-container matColumnDef="expandedContact">
        <td
            mat-cell
            [ngClass]="{
              'contact-details-closed': !contactExpanded(contact),
              'contact-details-opened': contactExpanded(contact)
            }"
            *matCellDef="let contact"
            [attr.colspan]="displayedColumns.length">
          <div
              class="contact-details"
              [@detailExpand]="showExpanded(contact)">
            <fg-view-contact [contact]="contact"></fg-view-contact>
          </div>
        </td>
      </ng-container>


      <ng-container matColumnDef="editContactsMenu">
        <th
            mat-header-cell
            *matHeaderCellDef
            [attr.colspan]="displayedColumns.length">
          <mat-checkbox
              (change)="$event ? masterToggle() : null"
              [checked]="currentPageHasValue() && currentPageIsAllSelected()"
              [indeterminate]="currentPageHasValue() && !currentPageIsAllSelected()">
          </mat-checkbox>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <button color="accent" mat-icon-button><mat-icon>edit</mat-icon></button>
          <button color="accent" mat-icon-button><mat-icon>share</mat-icon></button>
          <button color="warn" mat-icon-button><mat-icon>delete</mat-icon></button>
        </th>
      </ng-container>


<!-- /***
*    ┌┬┐┌─┐┌┐ ┬  ┌─┐
*     │ ├─┤├┴┐│  ├┤
*     ┴ ┴ ┴└─┘┴─┘└─┘
*    ┬─┐┌─┐┬ ┬┌─┐
*    ├┬┘│ ││││└─┐
*    ┴└─└─┘└┴┘└─┘
*/ -->
      <tr
        [fxHide]="!selection.hasValue()"
        mat-header-row
        *matHeaderRowDef="['editContactsMenu']">
      </tr>
      <tr
          [fxHide]="selection.hasValue()"
          mat-header-row
          *matHeaderRowDef="displayedColumns">
      </tr>
      <tr
          class="table-rows"
          (click)="expandContact(contact)"
          mat-row
          *matRowDef="let contact; columns: displayedColumns">
      </tr>
      <tr
        mat-row
        class="contact-details-closed"
        *matRowDef="let row; columns: ['expandedContact']">
      </tr>

    </table>


<!--/***
*    ┌─┐┌─┐┌─┐┬┌┐┌┌─┐┌┬┐┌─┐┬─┐
*    ├─┘├─┤│ ┬││││├─┤ │ │ │├┬┘
*    ┴  ┴ ┴└─┘┴┘└┘┴ ┴ ┴ └─┘┴└─
*/ -->
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

  </div>
</div>

{{ currentPageHasValue() }}
