<!-- /***
 *    ███████╗██████╗ ██╗████████╗    ██████╗ ██████╗ ███╗   ██╗████████╗ █████╗  ██████╗████████╗
 *    ██╔════╝██╔══██╗██║╚══██╔══╝   ██╔════╝██╔═══██╗████╗  ██║╚══██╔══╝██╔══██╗██╔════╝╚══██╔══╝
 *    █████╗  ██║  ██║██║   ██║█████╗██║     ██║   ██║██╔██╗ ██║   ██║   ███████║██║        ██║
 *    ██╔══╝  ██║  ██║██║   ██║╚════╝██║     ██║   ██║██║╚██╗██║   ██║   ██╔══██║██║        ██║
 *    ███████╗██████╔╝██║   ██║      ╚██████╗╚██████╔╝██║ ╚████║   ██║   ██║  ██║╚██████╗   ██║
 *    ╚══════╝╚═════╝ ╚═╝   ╚═╝       ╚═════╝ ╚═════╝ ╚═╝  ╚═══╝   ╚═╝   ╚═╝  ╚═╝ ╚═════╝   ╚═╝
 *
 *     ██████╗ ██████╗ ███╗   ███╗██████╗  ██████╗ ███╗   ██╗███████╗███╗   ██╗████████╗
 *    ██╔════╝██╔═══██╗████╗ ████║██╔══██╗██╔═══██╗████╗  ██║██╔════╝████╗  ██║╚══██╔══╝
 *    ██║     ██║   ██║██╔████╔██║██████╔╝██║   ██║██╔██╗ ██║█████╗  ██╔██╗ ██║   ██║
 *    ██║     ██║   ██║██║╚██╔╝██║██╔═══╝ ██║   ██║██║╚██╗██║██╔══╝  ██║╚██╗██║   ██║
 *    ╚██████╗╚██████╔╝██║ ╚═╝ ██║██║     ╚██████╔╝██║ ╚████║███████╗██║ ╚████║   ██║
 *     ╚═════╝ ╚═════╝ ╚═╝     ╚═╝╚═╝      ╚═════╝ ╚═╝  ╚═══╝╚══════╝╚═╝  ╚═══╝   ╚═╝
 *
 *    ██╗  ██╗████████╗███╗   ███╗██╗
 *    ██║  ██║╚══██╔══╝████╗ ████║██║
 *    ███████║   ██║   ██╔████╔██║██║
 *    ██╔══██║   ██║   ██║╚██╔╝██║██║
 *    ██║  ██║   ██║   ██║ ╚═╝ ██║███████╗
 *    ╚═╝  ╚═╝   ╚═╝   ╚═╝     ╚═╝╚══════╝
 *
 */ -->
 <mat-card fxFill class="container">
    <form
        [formGroup]="contactForm"
        class="login-form"
        fxLayout="column"
        fxLayoutAlign="center center"
        fxLayoutGap="1.2rem">

      <!-- FIRST AND LAST NAME -->
    <mat-form-field [ngClass]="{
      'form-input-desktop': deviceType === 'desktop',
      'form-input-tablet': deviceType === 'tablet',
      'form-input-mobile': deviceType === 'mobile'
    }">
      <input
          formControlName="firstName"
          matInput
          type="text"
          placeholder="First Name"
          required>
    </mat-form-field>

    <mat-form-field [ngClass]="{
      'form-input-desktop': deviceType === 'desktop',
      'form-input-tablet': deviceType === 'tablet',
      'form-input-mobile': deviceType === 'mobile'
    }">
      <input
          matInput
          type="text"
          placeholder="Last Name"
          required>
    </mat-form-field>

    <mat-form-field [ngClass]="{
      'form-input-desktop': deviceType === 'desktop',
      'form-input-tablet': deviceType === 'tablet',
      'form-input-mobile': deviceType === 'mobile'
    }">
      <input
          matInput
          type="text"
          placeholder="Alias"
          required>
    </mat-form-field>

    <!-- PERSONAL DATA -->
    <mat-form-field [ngClass]="{
      'form-input-desktop': deviceType === 'desktop',
      'form-input-tablet': deviceType === 'tablet',
      'form-input-mobile': deviceType === 'mobile'
      }">
        <input
            matInput
            [matDatepicker]="picker"
            placeholder="Birth date"
            required>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-slide-toggle
        [checked]="gender === 'male'"
        (change)="changeGender($event.checked)">
        gender {{ gender }}
    </mat-slide-toggle>

    <!-- GROUP -->
    <mat-form-field [ngClass]="{
      'form-input-desktop': deviceType === 'desktop',
      'form-input-tablet': deviceType === 'tablet',
      'form-input-mobile': deviceType === 'mobile'
    }">
      <mat-select placeholder="Group">
        <mat-option *ngFor="let group of groups" [value]="group">
          {{ group }}
        </mat-option>
      </mat-select>
      </mat-form-field>

    <!-- PHONES -->
    <mat-form-field [ngClass]="{
      'form-input-desktop': deviceType === 'desktop',
      'form-input-tablet': deviceType === 'tablet',
      'form-input-mobile': deviceType === 'mobile'
    }">
    <input
        matInput
        type="text"
        placeholder="Phone"
        required>
    </mat-form-field>

    <!-- EMAILS -->
    <mat-form-field [ngClass]="{
      'form-input-desktop': deviceType === 'desktop',
      'form-input-tablet': deviceType === 'tablet',
      'form-input-mobile': deviceType === 'mobile'
    }">
    <input
        matInput
        type="text"
        placeholder="Email"
        required>
    </mat-form-field>

    <!-- PHONES -->
    <mat-form-field [ngClass]="{
      'form-input-desktop': deviceType === 'desktop',
      'form-input-tablet': deviceType === 'tablet',
      'form-input-mobile': deviceType === 'mobile'
    }">
    <textarea
        matInput
        placeholder="Address"
        required>
    </textarea>
    </mat-form-field>

    <!-- BUTTONS -->
    <div>
      <button
          color="accent"
          mat-raised-button
          type="submit">
        Save
      </button>&nbsp;&nbsp;&nbsp;
      <button
          color="accent"
          mat-raised-button
          type="button">
          Cancel
      </button>&nbsp;&nbsp;&nbsp;
      <button
          color="warn"
          mat-raised-button
          type="reset">
          Reset
      </button>
    </div>

    </form>
  </mat-card>
