<mat-toolbar color="primary">
  <button
      *ngIf="deviceType !== 'desktop'"
      (click)="openSidebar()"
      mat-icon-button>
    <mat-icon>
      menu
    </mat-icon>
  </button>
  &nbsp;&nbsp;
  <a routerLink="/">
    <span [ngClass]="{
      'logo-desktop': deviceType === 'desktop',
      'logo-tablet': deviceType === 'tablet',
      'logo-mobile': deviceType === 'mobile'
    }">
      PHONEBOOK
    </span>
  </a>

  <div fxHide.lt-sm>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <strong>Logged user: </strong>
      {{ userName }}
  </div>
  <fg-navigation-menu
      fxHide.lt-md
      fxFlex="auto">
  </fg-navigation-menu>
</mat-toolbar>

