<mat-toolbar color="primary">
  <button
      fxHide.gt-sm
      (click)="openSidebar()"
      mat-icon-button>
    <mat-icon>
      menu
    </mat-icon>
  </button>
  &nbsp;&nbsp;
  <a
      fxHide.lt-sm
      routerLink="/">
    <span class="logo">PHONEBOOK</span>
  </a> 
  <a      
      fxHide.gt-xs
      routerLink="/">
      <span class="logo-small">PHONEBOOK</span> 
  </a> 
  <div fxHide.lt-sm>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <strong>Logged user: </strong>
      {{ userName }}
  </div>
  <fg-navigation-menu
      fxHide.lt-md
      fxFlex="auto">
  </fg-navigation-menu>
</mat-toolbar>

