@import '~@angular/material/theming';

// Color pallets
$COLOR-PRIMARY: $mat-pink;
$COLOR-ACCENT: $mat-cyan;
$COLOR-WARN: $mat-lime;

// Color positions in the pallette
$PALETTE-POSITION-MAIN-COLOR: 500;
$PALETTE-POSITION-DARK-TEXT-COLOR: 900;

// Text color brightness factors
$FACTOR-LIGHTEN-TEXT-COLOR: 45;
$FACTOR-DARKEN-TEXT-COLOR: 15;

// Set colors
$color-primary: map-get($COLOR-PRIMARY, $PALETTE-POSITION-MAIN-COLOR);
$color-accent: map-get($COLOR-ACCENT, $PALETTE-POSITION-MAIN-COLOR);
$color-warn: map-get($COLOR-WARN, $PALETTE-POSITION-MAIN-COLOR);
$color-graphic-elements: map-get($COLOR-PRIMARY, $PALETTE-POSITION-DARK-TEXT-COLOR);
$color-text-dark: darken($color-primary, $FACTOR-DARKEN-TEXT-COLOR);
$color-text-light: lighten($color-primary, $FACTOR-LIGHTEN-TEXT-COLOR);

