<!-- /***
 *    ██╗      ██████╗  ██████╗ ██╗███╗   ██╗
 *    ██║     ██╔═══██╗██╔════╝ ██║████╗  ██║
 *    ██║     ██║   ██║██║  ███╗██║██╔██╗ ██║
 *    ██║     ██║   ██║██║   ██║██║██║╚██╗██║
 *    ███████╗╚██████╔╝╚██████╔╝██║██║ ╚████║
 *    ╚══════╝ ╚═════╝  ╚═════╝ ╚═╝╚═╝  ╚═══╝
 *
 *     ██████╗ ██████╗ ███╗   ███╗██████╗  ██████╗ ███╗   ██╗███████╗███╗   ██╗████████╗
 *    ██╔════╝██╔═══██╗████╗ ████║██╔══██╗██╔═══██╗████╗  ██║██╔════╝████╗  ██║╚══██╔══╝
 *    ██║     ██║   ██║██╔████╔██║██████╔╝██║   ██║██╔██╗ ██║█████╗  ██╔██╗ ██║   ██║
 *    ██║     ██║   ██║██║╚██╔╝██║██╔═══╝ ██║   ██║██║╚██╗██║██╔══╝  ██║╚██╗██║   ██║
 *    ╚██████╗╚██████╔╝██║ ╚═╝ ██║██║     ╚██████╔╝██║ ╚████║███████╗██║ ╚████║   ██║
 *     ╚═════╝ ╚═════╝ ╚═╝     ╚═╝╚═╝      ╚═════╝ ╚═╝  ╚═══╝╚══════╝╚═╝  ╚═══╝   ╚═╝
 *
 *    ██╗  ██╗████████╗███╗   ███╗██╗
 *    ██║  ██║╚══██╔══╝████╗ ████║██║
 *    ███████║   ██║   ██╔████╔██║██║
 *    ██╔══██║   ██║   ██║╚██╔╝██║██║
 *    ██║  ██║   ██║   ██║ ╚═╝ ██║███████╗
 *    ╚═╝  ╚═╝   ╚═╝   ╚═╝     ╚═╝╚══════╝
 *
 */ -->
<mat-card fxFill class="container">
  <form
      class="login-form"
      fxLayout="column"
      fxLayoutAlign="center center"
      fxLayoutGap="1.2rem">

<!-- USERNAME OR EMAIL -->
    <mat-form-field [ngClass]="{
      'form-input-desktop': deviceType === 'desktop',
      'form-input-tablet': deviceType === 'tablet',
      'form-input-mobile': deviceType === 'mobile'
    }">
      <input
          matInput
          type="text"
          placeholder="Your username or email">
    </mat-form-field>

<!-- PASSWORD -->
    <mat-form-field [ngClass]="{
      'form-input-desktop': deviceType === 'desktop',
      'form-input-tablet': deviceType === 'tablet',
      'form-input-mobile': deviceType === 'mobile'
    }">
      <input
        matInput
        type="password"
        placeholder="Your password">
    </mat-form-field>

<!-- LOGIN BUTTON -->
    <button
        color="accent"
        mat-raised-button
        type="submit">
      Login
    </button>

  </form>
</mat-card>
