@import '../../../../static-resources/styles/predefined/predefined-variables.scss';
@import '../../../../static-resources/styles/predefined/predefined-mixins.scss';

$ICON_SIZE: 7rem;
$BORDER_SIZE_FACTOR: 1.2;

.home-container {
  margin: 0;
  padding: 0 0 (7 * $distance-from-the-margins) 0;
  @include no-shadow();
}

.icon {
  @include icon-with-border(
    $ICON_SIZE,
    $BORDER_SIZE_FACTOR,
    $text-color-light,
    $primary-color-dark
  );
}
