<!-- Carousel -->
<mat-carousel
    timings="250ms ease-in"
    [autoplay]="true"
    interval="5000"
    color="primary"
    maxWidth="auto"
    proportion="35"
    slides="3"
    [loop]="true"
    [hideArrows]="false"
    [hideIndicators]="true"
    [useKeyboard]="true"
    [useMouseWheel]="false"
    orientation="ltr">
  <mat-carousel-slide
      #matCarouselSlide
      *ngFor="let slide of slides; let i = index"
      [image]="slide"
      [hideOverlay]="false">
    <div class="carousel-caption">
      <div
          [ngClass.gt-sm]="['caption-big-screen']"
          [ngClass.lt-md]="['caption-medium-screen']"
          [ngClass.xs]="['caption-small-screen']">
        Welcome to your<br>
        <span>PHONEBOOK</span>
      </div>
    </div>
  </mat-carousel-slide>
</mat-carousel>

<!-- Page content -->
<div
    class="page-content"
    fxLayout="row"
    fxLayout.lt-md="column"
    fxLayoutAlign="space-around stretch"
    [ngStyle.gt-sm]="{ 'padding': '0 100px' }"
    [ngStyle.lt-md]="{ 'padding': '0 60px' }">
  <section fxFlex.gt-sm="25" *ngFor="let section of content">
    <div fxLayoutAlign="center center" >
      <div
          fxLayoutAlign="center center"
          [ngClass.gt-sm]="['icon-big-screen']"
          [ngClass.lt-md]="['icon-medium-screen']"
          fxHide.lt-sm>
        <mat-icon>
          {{ section.icon }}
        </mat-icon>
      </div>
    </div>
    <h1
        [ngClass.gt-sm]="['title-big-screen']"
        [ngClass.lt-md]="['title-medium-screen']"
        [ngClass.xs]="['title-small-screen']">
      {{ section.title }}
    </h1>
    <p>{{ section.paragraph }}</p>
    <hr fxHide.gt-xs>
  </section>

</div>