<mat-toolbar color="accent">
  <mat-toolbar-row>
    <span class="logo example-logo">PHONEBOOK</span>
    <span class="example-spacer"></span>
    <!-- <mat-icon class="example-icon">verified_user</mat-icon> -->
  </mat-toolbar-row>

  <mat-toolbar-row>
    <small>powered by feloem graphic art</small>
    <span class="example-spacer"></span>
    <mat-icon class="example-icon">favorite</mat-icon>
    <mat-icon class="example-icon">favorite</mat-icon>
    <mat-icon class="example-icon">favorite</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>
